<h1>Transactions</h1>
<div>
    <form>
        <div class="form-group row">
            <label for="month" class="col-sm-2 col-form-label">Filtrer par mois:</label>
            <div class="col-sm-4">
                <input type="month" ng-change="$ctrl.filterByMonth()" ng-model="$ctrl.default_month" name="input" id="month" class="form-control" required/>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped transactions-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Type</th>
                <th>Valide?</th>
                <th>Mois</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in $ctrl.transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.title}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.is_input}}</td>
                <td>{{transaction.is_valid}}</td>
                <td>{{transaction.month}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Somme des entrées</th>
                <th>Somme des sorties</th>
                <th>Montant de la trésorerie au début du mois</th>
                <th>Montant de la trésorerie à la fin du mois</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{$ctrl.input}}</td>
                <td>{{$ctrl.output}}</td>
                <td>{{$ctrl.amountBeforeMonth}}</td>
                <td>{{$ctrl.amountIncludingMonth}}</td>
            </tr>
        </tbody>
    </table>
</div>