{% extends 'admin.html.twig' %}

{% block title %}Editer la transaction{% endblock %}

{% block body %}
    <h1>Editer la transaction</h1>

    {{ include('transaction/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <br/><br/>
    <a href="{{ path('transaction_index') }}">Retour à la liste</a>
{% endblock %}
