{% extends 'admin.html.twig' %}

{% block title %}Administration - Transactions{% endblock %}

{% block body %}
    <h1>Transactions</h1>

    <div>
        <form class="form-inline" action="{{ path('transaction_index') }}" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <input name="filter" type="text" class="form-control" placeholder="Chercher par titre">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Go</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Type</th>
                    <th>Valide?</th>
                    <th>Mois</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>#{{ transaction.id }}</td>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.isInput ? 'Entrée' : 'Sortie' }}</td>
                    <td>{{ transaction.isValid ? 'Oui' : 'Non' }}</td>
                    <td>{{ transaction.createdAt|date("m/Y") }}</td>
                    <td>
                        <!--a href="{{ path('transaction_show', {'id': transaction.id}) }}" class="btn btn-outline-primary">show</a-->
                        <a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-outline-primary">Modifier</a>
                        {{ include('transaction/admin/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Pas de transaction</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# display navigation #}
    <div class="navigation float-right">
        {{ knp_pagination_render(transactions) }}
    </div>

    <a href="{{ path('transaction_new') }}" class="btn btn-success">Ajouter une transaction</a>
{% endblock %}