{% extends 'admin.html.twig' %}

{% block title %}Ajouter une transaction{% endblock %}

{% block body %}
    <h1>Ajouter une transaction</h1>

    {{ include('transaction/admin/_form.html.twig') }}

    <br/><br/>
    <a href="{{ path('transaction_index') }}">Retour à la liste</a>
{% endblock %}
