{% extends 'admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/admin/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}
