{% extends 'base.html.twig' %}

{% block title %}Transactions - AJAX{% endblock %}

{% block body %}
<h1>Transactions</h1>

    <div>
        <form>
            <div class="form-group row">
                <label for="month" class="col-sm-2 col-form-label">Filtrer par mois:</label>
                <div class="col-sm-4">
                    <input type="text" name="month" id="month" class="form-control" value="{{ currentMonth }}" readonly>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped transactions-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Montant</th>
                    <th>Type</th>
                    <th>Valide?</th>
                    <th>Mois</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Somme des entrées</th>
                    <th>Somme des sorties</th>
                    <th>Montant de la trésorerie au début du mois</th>
                    <th>Montant de la trésorerie à la fin du mois</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="input">#</td>
                    <td class="output">#</td>
                    <td class="amountBeforeMonth">#</td>
                    <td class="amountIncludingMonth">#</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}